.picture {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 100%;
  margin-bottom: 1.2rem;
  background: #ccc;

  > img {
   position: absolute;
   width: 100%;
   top: 0;
   left: 0;
  }
}