.header {
  padding: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  border-bottom: 1px solid #fff; 
}

.logoWrapper {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 1rem;
}

.logout {
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
  color: #fff;
  font-weight: 700;
  font-size: 1.6rem;
}