.header {
  padding: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  border-bottom: 1px solid #fff; 
}

.logoWrapper {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 1rem;
}

.menuIcon {
  color: #fff;
  width: 1rem;
  height: 2rem;
  vertical-align: middle;
}

.button {
  border: 0;
  padding: 0.8rem;
  margin: 0 auto 0.6rem;
  background: none;
  color: #fff;
  font-weight: 700;
  font-size: 1.6rem;
  display: block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  width: 100%;
}