.song,
.artist,
.album {
  margin-bottom: 0.6rem;
  font-weight: 700;
  line-height: 1.1;
}

.song {
  font-size: 2.4rem;
}

.artist {
  font-size: 2rem;
}

.album {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}